<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TransportIT Main Page</title>
  <link rel="stylesheet" type="text/css" href="/static/stylesheet/StartPage.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheet/transporterSignIn.css">
 
</head>
<body>

<ul class="tab">
  <li><div class="header">Transport<span>IT</span></div></li>
  <li><a href="senderSignIn.html" class="tablinks" onmouseover="openDescription(event, 'Sender')" onmouseleave="closeDescription(event,'Sender')" onclick="window.location='/sender'; return false;" >Sender</a></li>
  <li><a href="transporterSignIn.html" class="tablinks" onmouseover="openDescription(event, 'Transporter')" onmouseleave="closeDescription(event,'Transporter')" onclick="window.location='/transporter'; return false;">Transporter</a></li>  
 <li id='last'><a href="#" class="tablinks" onmouseover="openDescription(event, 'LogOut')" onmouseleave="closeDescription(event,'LogOut')" onclick="window.location='/logout'; return false;"  ><img src="/static/img/logout.png" alt='LogOut'></a></li>  
 <li id="last"><a href="changeDetails.html" class="tablinks" onmouseover="openDescription(event, 'ChangeYourDetails')" onmouseleave="closeDescription(event,'ChangeYourDetails')" onclick="window.location='/ChangeDetails'; return false;" ><img src="/static/img/edit.png" alt='edit'></a></li>
</ul>

<div class="spaceDescription">
<div id="Sender" class="tabcontent">
  <h3>Sender</h3>
  <p>Declare the characteristics and the destination of the item.</p>
</div>

<div id="Transporter" class="tabcontent">
  <h3>Transporter</h3>
  <p>Declare your journey and the maximum load you can transport.</p> 
</div>

<div id="LogOut" class="tabcontent">
  <h3>LogOut</h3>
  <p>Leaving TransportIT? Make sure that your data is accurate.</p>
</div>

<div id="ChangeYourDetails" class="tabcontent">
  <h3>Change your details</h3>
  <p>Make changes in your account to keep it up to date.</p>
</div>
</div>


<div class="container">
  <div class="item" id="queries"><div class="subHeader">Welcome <span>{{username}}</span>!</div><br><br><br>
      <div class="signIn">  
        <fieldset>
          <legend><span class="number"></span>Description</legend>
          <label for="from">TransportIT is web application deployed in a cloud-based environment which creates and manages a goods transportation network. Its users can login,declare if they want to use the application in the scope of either a sender or a transporter, search for users that meet the requirements they have inserted in the application and communicate with them in order to confirm the transaction.</label>
        </fieldset>
    </div>  

  </div>

  <div class="item" id="message">
  <div class="signIn">  
        <fieldset>
          <legend><span class="number"></span>Are you a Sender?</legend>
          <label for="from">Click on the navigation bar, fill in your details and search for a transporter!!</label>
        </fieldset>
    </div>
  <div class="signIn">  
        <fieldset>
          <legend><span class="number"></span>Are you a Transporter?</legend>
          <label for="from">Click on the navigation bar, fill in your details and wait for a sender to discover you!!</label>
        </fieldset>
    </div>

  </div>
</div>



<script>
function openDescription(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

function closeDescription(evt,cityName)
{
  var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  
}
</script>


     
</body>
</html> 
